<footer class="bg-white">
  <div class="container py-5">
    <div class="row py-3">
  
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Liên hệ</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted">Liên hệ</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Về chùng tôi</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Câu chuyện</a></li>
        </ul>
      </div>
  
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Giúp đỡ</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted">Thanh toán</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Hủy bỏ</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Hoàn trả</a></li>
        </ul>
      </div>
      

      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Chính sách</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted">Chinh sách hoàn trả</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Bảo mật</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Riêng tư</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Công ty</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="/login" class="text-muted">Đăng nhập</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Đăng ký</a></li>
          <li class="mb-2"><a href="#" class="text-muted">Quên mật khẩu</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Địa chỉ đăng ký công ty</h6>
        <p class="text-muted mb-4">01, Vo Van Ngan, Thu Duc City, Ho Chi Minh City</p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab  fa-2x fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="p-0 m-0 b-0">
  
  
  <div class="bg-light py-2">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">&copy; 2019 BBBootstrap All risghts reserved.</p>
      
      </div>
    </div>
  
  </footer>